.history/
node_modules/
dist/
build/
.env
.DS_Store
*.log
coverage/
tmp/
out/
.idea/
.vscode/
__pycache__/
*.pyc
apps/backend/node_modules/
apps/backend/dist/
apps/backend/build/
apps/backend/coverage/
apps/backend/tmp/
apps/backend/out/
apps/backend/.idea/
apps/backend/.vscode/
apps/backend/__pycache__/
apps/backend/*.pyc
apps/backend/prisma/*.js
apps/backend/prisma/*.mjs
apps/backend/prisma/*.map
apps/backend/prisma/*.d.ts
apps/backend/prisma/scripts/
apps/backend/prisma/sql.*
apps/backend/prisma/prisma-client/
infra/env/*.env
infra/dbdata/
infra/sql/

